SQLITE_PATH='local.db'
MINIO_ENDPOINT=s3.navitech.cloud
MINIO_ACCESS_KEY=BeT1hPlTntKyzMIAwvaC
MINIO_SECRET_KEY=KGKrUtivteBKzMPeNrUPDAz1KYfXv7bM9RfCZhUz
MINIO_BUCKET_NAME=navitech
MINIO_USE_SSL=true
MINIO_PORT=443