SQLITE_PATH='local.db'
MINIO_ENDPOINT=s3.navitech.cloud
MINIO_ACCESS_KEY=BeT1hPlTntKyzMIAwvaC
MINIO_SECRET_KEY=KGKrUtivteBKzMPeNrUPDAz1KYfXv7bM9RfCZhUz
MINIO_BUCKET_NAME=navitech
MINIO_USE_SSL=true
MINIO_PORT=443

# SMTP (email) - folosit ca fallback global când tenant-ul nu are setări proprii
SMTP_HOST=sender.navitech.cloud
SMTP_PORT=2525
SMTP_USER=notify@app.navitech.cloud
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=notify@app.navitech.cloud